/* Reset some default styles */
body {
    font-family: Arial, sans-serif;
    background-color: grey;
    margin: 0;
    padding: 0;
}

/* Container for portfolio */
#container {
    width: 80%;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Adjust as needed */
}


/* Style for headings */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Ensure repoBlocks are displayed side by side */
.yearContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.repoBlock {
    width: 48%; /* Adjust width to fit two blocks per row */
    box-sizing: border-box; /* Prevents width overflow */
}



/* Titles inside blocks */
.repoBlock h2 {
    color: #444;
}

/* Links */
.repoBlock a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.repoBlock a:hover {
    background-color: #0056b3;
}
